@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html {
      @apply scroll-smooth;
   }
   ::-webkit-scrollbar {
      @apply w-2;
   }
   ::-webkit-scrollbar-thumb {
      @apply bg-slate-400 rounded-lg;
   }
   ::-webkit-scrollbar-track {
      @apply bg-transparent;
   }
}
@layer utilities {
   .toolCat {
      @apply w-32 h-32 rounded-lg bg-red-400 flex flex-wrap justify-center items-center text-center p-2;
   }
   .section {
      @apply flex gap-6 border-b flex-wrap justify-center py-16;
   }
   .btn {
      @apply bg-[#077096] text-white border-[#077096];
   }
   .btn-disabled {
      @apply bg-slate-200 border-slate-200;
   }
   .btn:hover {
      @apply bg-[#0a83ae] border-[#0a83ae];
   }
   .sectionTitle {
      @apply font-bold text-lg tracking-wide uppercase;
   }
   .animate {
      animation: message 2s linear forwards;
   }
}

@keyframes message {
   0% {
      height: 0;
      opacity: 0;
   }
   5% {
      height: 3em;
      opacity: 1;
   }
   90% {
      height: 3em;
      opacity: 1;
   }
   95% {
      height: 1.5em;
      opacity: 0.5;
   }
   100% {
      height: 0;
      opacity: 0;
   }
}

.react-daterange-picker__wrapper {
   border: 1px solid #bfbfbf;
   border-radius: 0.4rem;
   margin-inline: auto;
   padding: 0.5em;
   width: 350px;
}
.react-calendar {
   font-family: inherit;
   background-color: #f8f8f8;
   color: #1c1c1c;
   border-radius: 0.6em;
   position: absolute;
   top: 3em;
   overflow: hidden;
}
@media screen and (min-width: 1024px) {
   .react-calendar {
      top: 0;
   }
}

.react-calendar abbr {
   text-decoration: none;
}
.react-daterange-picker__inputGroup input {
   border: none;
   outline: none;
}
.react-daterange-picker__inputGroup input::selection {
   background-color: transparent;
}
.react-calendar__tile--active {
   color: black;
   background-color: #84c2ff;
}
.react-calendar__tile--active:hover {
   color: black;
   background-color: #ffbb848e;
}
.react-daterange-picker__range-divider {
   margin-inline: 1rem;
}
.react-calendar__month-view__days__day--weekend {
   color: #1c1c1c;
}
.react-calendar__month-view__days__day--neighboringMonth {
   opacity: 0.4;
}
.react-calendar__viewContainer {
   padding-top: 0.5em;
   border-top: 1px solid #d6d6d6;
}
.react-calendar__tile--hasActive {
   border: 1px solid #5359f4 !important;
   border-radius: 0.4em;
}

.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 50px;
   padding: 2em;
   position: relative;
   /* position: absolute; */
   top: 0;
   width: 100%;
   margin-inline: auto;
   /* max-width: 1920px; */
   color: #ffffff;
   z-index: 5;
   background: linear-gradient(90deg, #01b2c9af 0%, #0077a6b0 100%);
}
.navbar__logo {
   font-size: 1.6rem;
}
.navbar__items-wrapper {
   display: flex;
   align-items: center;
   list-style: none;
   padding-left: 0;
}
.navbar__items-wrapper button {
   background-color: transparent;
   border: none;
   outline: none;
}
.navbar__btn:hover {
   cursor: pointer;
}
#navbar-check {
   display: none;
}
.navbar__btn {
   cursor: pointer;
   position: relative;
   border: none;
   background: none;
   margin-inline: 1em;
   transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
   transition-duration: 400ms;
   transition-property: color;
   z-index: 9;
}
.navbar__btn:focus:after,
.navbar__btn:hover:after {
   width: 100%;
   left: 0;
}
.navbar__btn:after {
   content: '';
   pointer-events: none;
   bottom: -2px;
   left: 50%;
   position: absolute;
   width: 0;
   height: 1px;
   background-color: #ffffff;
   transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
   transition-duration: 400ms;
   transition-property: width, left;
}
.hide {
   height: 0px !important;
}
.show {
   height: 30vh !important;
}

@media (max-width: 650px) {
   .navbar__items-wrapper li {
      margin-block: 0.8em;
   }
   .navbar__btn-wrapper label {
      display: flex;
      flex-direction: column;
   }
   .navbar__btn-wrapper label:hover {
      cursor: pointer;
   }
   .navbar__btn-wrapper span {
      display: block;
      width: 25px;
      height: 8px;
      border-top: 3px solid #eee;
   }
   .navbar__items-wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 48px;
      left: 0;
      width: 100%;
      background-color: #0b79a0;
      height: 0;
      transition: all 0.3s ease-in;
      overflow: hidden;
      z-index: 5;
   }
}
